<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Html 5 </title>
    <script src="https://kit.fontawesome.com/6b06d28ecb.js" crossorigin="anonymous"></script>
    <style>
        section{
            margin-bottom: 20px;
            text-align: justify;
        }
        .g1{
            height: 70px;
            margin-right: 6px;
            border: 2px solid black;
        }.g2{
            height: 70px;
            border: 2px solid black;
        }
        a i {
            font-size: 40px; 
            color: black;
        }
    </style>
</head>
<body>
    <fieldset style="margin: 0px 260px;">
        <legend>I4F - Directory Profile Page</legend>
        <header>
            <div style="display: flex; justify-content: space-between;">
                <div style="border: 2px solid black; padding:10px; margin-left: 20px;">
                    <img src="1.png" alt="">
                </div>
                <div style="margin: 0px 70px 0px 20px;">
                    <h1 style="line-height: 10px;">Profile Name</h1>
                    <h3>Abdullah Al Wafi</h3>
                    <p>Alamat : Leuwiliang Bogor Jawa Barat Indonesia</p>
                    <p>Email : <a href="mailto:abdullahalwafi16@gmail.com">abdullahalwafi16@gmail.com</a></p>
                    <p>Telephone : <a href="tel:2718462137213">2718462137213</a></p>
                </div>
                <div style="text-align: center;">
                    <h3><u>Sosmed</u></h3>
                    <div >
                        <a href="https://instagram.com/al_wafi47"><i class="fa-brands fa-square-instagram"></i></a><br>
                        <a href="https://facebook.com/alwafi47"><i class="fa-brands fa-square-facebook"></i></a><br>
                        <a href="https://youtube.com/alwafisysdev"><i class="fa-brands fa-square-youtube"></i></a><br>
                        <a href="https://github.com/abdullahalwafi"><i class="fa-brands fa-square-github"></i></a><br>
                    </div>
                </div>
            </div>
        </header>
        <main style="padding: 30px;">
            <article>
                <section>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe alias dolores porro fuga rem incidunt necessitatibus, doloribus nam aperiam, harum, ipsum error quibusdam veritatis repudiandae nostrum obcaecati! Velit, tempora iusto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex recusandae magni error dolore corporis cumque adipisci similique sint exercitationem? Illo suscipit commodi, inventore voluptatem possimus minus amet ducimus. Eveniet, similique!
                </section>
                <section>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos iusto facilis dolorum iure molestiae saepe amet pariatur tenetur quis voluptatum, aperiam fugit ullam sunt inventore consequatur, ratione vel, ea recusandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ipsum quia iste similique odit ea aperiam magni sed animi in omnis aliquam, minima saepe quasi dolorum ducimus sint, quod dolore.
                </section>
            </article>
        </main>
        <footer>
            <div style="display: flex; justify-content:center;">
                <fieldset>
                    <legend>Youtube Embed</legend>
                    <iframe width="200" src="https://www.youtube.com/embed/2uTMR0ZvRUM" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </fieldset>
                <fieldset>
                    <legend>Blog Thumbnail</legend>
                    <div style="display: flex; justify-content:center;">
                        <div>
                            <a href="https://blog.adila.id/berikut-tutorial-atasi-memori-penuh-di-android-ponsel-lancar-tanpa-hambatan/">
                                <img src="https://blog.adila.id/wp-content/uploads/2021/09/judul.jpg" alt="Thumbnail" class="g1">
                            </a>
                        </div>
                        <div>
                            <a href="https://blog.adila.id/spesifikasi-realme-5-pro-terbaru/">
                                <img src="https://blog.adila.id/wp-content/uploads/2021/09/realme-5-dan-realme-5-pro.jpg" alt="Thumbnail" class="g2">
                            </a>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:center;">
                        <div>
                            <a href="https://blog.adila.id/berikut-tutorial-atasi-memori-penuh-di-android-ponsel-lancar-tanpa-hambatan/">
                                <img src="https://blog.adila.id/wp-content/uploads/2021/09/judul.jpg" alt="Thumbnail" class="g1">
                            </a>
                        </div>
                        <div>
                            <a href="https://blog.adila.id/spesifikasi-realme-5-pro-terbaru/">
                                <img src="https://blog.adila.id/wp-content/uploads/2021/09/realme-5-dan-realme-5-pro.jpg" alt="Thumbnail"
                                    class="g2">
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Attachments</legend>
                    <table cellpadding="5">
                        <tr>
                            <td><i class="fa-solid fa-file-image"></i></td>
                            <td><a href="1.png" download="Foto Abdullah Al Wafi">Foto Abdullah Al Wafi</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-image"></i></td>
                            <td><a href="1.png" download="Foto My CV">Foto My CV</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-image"></i></td>
                            <td><a href="1.png" download="CV Abdullah Al Wafi">CV Abdullah Al Wafi</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-image"></i></td>
                            <td><a href="1.png" download="Profile Abdullah Al Wafi">Profile Abdullah Al Wafi</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-image"></i></td>
                            <td><a href="1.png" download="Youtube Abdullah Al Wafi">Youtube Abdullah Al Wafi</a></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </footer>
    </fieldset>
</body>
</html>